<div class="navbar navbar navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-form navbar-right">
    <%= render "table" %>
  </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 col-md-3 sidebar">
      <ul class="nav nav-sidebar well well-sm">
        <li>
        <%=  select_tag "table" ,  options_for_select(@tables.keys.collect { |c| [ c, c ] }), id: "table_id" %>
        </li>
      </ul>
      <ul class="nav nav-sidebar well well-sm">
        <%= label_tag 'x axis'%>
        <%=  select_tag "axis1",  options_for_select(@tables.values[0].first.keys.collect { |c| [ c, c ] })%>
      </ul>
      <ul class="nav nav-sidebar well well-sm">
        <%= label_tag 'y axis'%>
        <%=  select_tag "axis2",options_for_select(@tables.values[0].first.keys.collect { |c| [ c, c ] })%>
      </ul>
      <ul class="nav nav-sidebar">
        <%= button_tag 'redraw' , :id=> "button" %>
        <%= button_tag 'mapdraw' , :id=> "button_map" %>
      </ul>
    </div>
    <div class="col-sm-8 col-md-9  main">
      <div id= "place"/>
      </div>
    </div>
  </div>
  <script>
var data = <%=raw @tables.to_json %>
$(document).ready(function() {

    function populate(){
    var table = $('#table_id').val();

    $('#axis1').empty();
    $('#axis2').empty();
    for (key in data[table][0]){
    $('#axis1').append(new Option(key,key));
    $('#axis2').append(new Option(key,key));
    }
    }

    $("#table_id").change(populate);
    $("#button").click(function(){
      visualize();
      }); 
    $("#button_map").click(function(){
      visualize_map();
      }); 
    });

var map_data = {"india":{"center":["0" ,"21"], "rotate":["80","0"],"paralles":["18","23"]}}
function visualize_map(){
  $('svg').remove()
   var table = $("#table_id").val()
    var axis1 = $('#axis1').val()
    var axis2 = $('#axis2').val()


    var margin = {top: 20, right: 20, bottom: 30, left: 40},
        width = 860 - margin.left - margin.right,
        height = 500 - margin.top - margin.bottom;



  var color = d3.scale.threshold()
    .domain([0.55, 0.58, 0.60, 0.65, 0.70, 0.85, 0.80, 0.85])
    .range(["#fff7ec", "#fee8c8", "#fdd49e", "#fdbb84", "#fc8d59", "#ef6548", "#d7301f", "#b30000"])

    var projection = d3.geo.mercator().center([80,21])
    .scale(800)
    .translate([width / 2, height / 2]);

  var path = d3.geo.path().projection(projection);
  var svg = d3.select("#place").append("svg")
    .attr("width", width)
    .attr("height", height);
  d3.json("country.json", function(error, country) {
      if (error){alert('error loading map'); return console.error(error);}
      svg.selectAll("#place")
      .data(country.features)
      .enter().append("path")
      .attr("class", function(d) {if(d.properties.name != null){ return "subunit " + d.properties.name.replace(/[^a-zA-Z0-9]/gi,'_'); } else return "subunit null" })
      .attr("d", path);
load();
      });
function load(){
  for (var i = 0; i < data[table].length; i++){
    var cls = "." + data[table][i][axis1];
    var value = data[table][i][axis2];
    d3.select(cls).style("fill",function (d) {return color(value)});
  }
}

}

function visualize(){
  $('svg').remove()
    var margin = {top: 20, right: 20, bottom: 30, left: 40},
        width = 860 - margin.left - margin.right,
        height = 500 - margin.top - margin.bottom;

  var table = $("#table_id").val()
    var axis1 = $('#axis1').val()
    var axis2 = $('#axis2').val()

    var x = d3.scale.ordinal()
    .rangeRoundBands([0, width], .1);

  var y = d3.scale.linear()
    .range([height, 0]);

  var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

  var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left")

    var svg = d3.select("#place").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  x.domain(data[table].map(function(d) {return d[axis1].substring(0,4); }));

  svg.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + height + ")")
    .call(xAxis);

  svg.append("g")
    .attr("class", "y axis")
    .call(yAxis)

    .append("text")
    .attr("transform", "rotate(-90)")
    .attr("y", 6)
    .attr("dy", ".71em")
    .style("text-anchor", "end")
    .text("Frequency");



  svg.selectAll(".bar")
    .data(data[table])
    .enter().append("rect")
    .attr("class", "bar")
    .attr("x", function(d) { return  x(d[axis1].substring(0,4)); })
    .attr("width", x.rangeBand())
    .attr("y", function(d) { return y(d[axis2]); })
    .attr("height", function(d) { return height - y(d[axis2]); });

}

  </script>

