<!DOCTYPE html>
<html>
<head>
  <title>WikiViz</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="http://d3js.org/topojson.v1.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
<% end %>

<%= yield %>

</body>
</html>
